/* ALIGN */
.align-end {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.align-baseline {
  align-self: baseline;
  -webkit-align-self: baseline;
}

.align-center {
  align-self: center;
  -webkit-align-self: center;
}

/* JUSTIFY */
.justify-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.justify-center {
  justify-content: center;
  -webkit-justify-content: center;
}


/* TEXT ALIGN */
.text-right {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}

.text-left {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
}

.text-center {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}


.z-index-99{
  z-index: 99;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0 !important;
}
.content-center{
  align-content: center;
}
