/* OCTAGONE */
.outter-right {
  position: relative;
  width: 35vw;
  height: 35vw;
  overflow: hidden;
  z-index: 10;
  right: -10vw;
  top: -12.5vh;
  @include device(small) {
    opacity: 0;
  }
}


.inner-right {
  position: absolute;
  top: 0;
  width: 35vw;
  height: 35vw;
  //background: rgba(255, 255, 255, .25);
  background: rgba(109, 191, 249, 0.6);
  -webkit-transform: rotate(45deg);
}

.outter-left {
  position: relative;
  width: 35vw;
  height: 35vw;
  overflow: hidden;
  z-index: 10;
  left: -39vw;
  top: -12.5vh;
  @include device(small) {
    opacity: 0;
  }

}

.inner-left {
  position: absolute;
  top: 0;
  width: 35vw;
  height: 35vw;
  //background: rgba(255, 255, 255, .25);
  background: rgba(109, 191, 249, 0.6);
  -webkit-transform: rotate(45deg);
}

@mixin octagone-outter() {
  position: relative;
  overflow: hidden;
  z-index: 10;

  @content;

}

@mixin octagone-inner() {
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);

  @content;


}


/*rgba(109, 191, 249, 0.6)*/
