.main-font {
  font-family: Michroma, 'monospace';
}

h1 {
  text-align: center;

  font-family: 'Michroma', Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em lightgrey;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear infinite;

  @include device(x-large) {
    font-size: calc(5px + 2.5vw);
  }
  @include device(large) {
    font-size: calc(5px + 2vw);
  }
  @include device(medium) {
    font-size: calc(5px + 2.5vw);
  }
  @include device(small) {
    font-size: calc(5px + 3.5vw);
  }
}

h1::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

h2 {
  text-align: center;
  position: absolute;
  font-family: 'Michroma', Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em lightgrey;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear infinite;

  @include device(x-large) {
    font-size: calc(5px + 1vw);
  }
  @include device(large) {
    font-size: calc(5px + 1vw);
  }
  @include device(medium) {
    font-size: calc(5px + 1.5vw);
  }
  @include device(small) {
    font-size: calc(5px + 1.5vw);
  }
}

h2::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}


h3 {
  text-align: center;
  position: relative;
  font-family: 'Michroma', Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em lightgrey;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear infinite;

  @include device(x-large) {
    font-size: calc(5px + .75vw);
    line-height: 30px;
  }
  @include device(large) {
    font-size: calc(5px + .75vw);
    line-height: 27.5px;
  }
  @include device(medium) {
    font-size: calc(5px + .8vw);
    line-height: 22.5px;
  }
  @include device(small) {
    font-size: calc(5px + 1.5vw);
    line-height: 20px;
  }
}

h3::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

button {
  text-align: center;
  font-family: 'Michroma', Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em lightgrey;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  /*animation: shake 2.5s linear infinite;*/

   @include device(x-large) {
    font-size: calc(5px);
  }
  @include device(large) {
    font-size: calc(5px + .5vw );
  }
  @include device(medium) {
    font-size: calc(5px + .75vw);
  }
  @include device(small) {
    font-size: calc(5px + 1vw);
  }
}

span {
  /* text-align: center;
   font-family: 'Michroma', Arial, sans-serif;
   font-size: calc(2px + 1vw);
   font-weight: 700;
   color: white;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   text-shadow: 0 0 0.15em lightgrey;
   user-select: none;
   white-space: nowrap;
   filter: blur(0.007em);
   animation: shake 2.5s linear infinite;*/

  filter: blur(0.007em);
  animation: shake 2.5s linear infinite;

  @include device(x-large) {
    font-size: calc(5px + .5vw);
  }
  @include device(large) {
    font-size: calc(5px + .45vw);
  }
  @include device(medium) {
    font-size: calc(5px + .65vw);
  }
  @include device(small) {
    font-size: calc(5px + .9vw);

  }
}
/*
.v-icon {
  filter: blur(0.007em);
  color: white;
  animation: shake 2.5s linear infinite;

  @include device(x-large) {
    font-size: calc(10px + 1vw);
  }
  @include device(large) {
    font-size: calc(10px + 1vw);
  }
  @include device(medium) {
    font-size: calc(10px + 1vw);
  }
  @include device(small) {
    font-size: calc(10px + 1vw);
    margin-top: 1px;
  }
}*/

.mouse {
  width: 100%;
  height: auto;
  max-width: calc(20px);

  @include device(x-large) {
    max-width: calc(20px + 2vw);
  }
  @include device(large) {
    max-width: calc(20px + 2vw);
  }
  @include device(medium) {
    max-width: calc(20px + 2vw );
  }
  @include device(small) {
    max-width: calc(20px + 3vw );
  }
}

.mouse-btn{
  @include device(x-large) {
    top: 30vh;
  }
  @include device(large) {
    top: 30vh;
  }
  @include device(medium) {
    top: 32.5vh;
  }
  @include device(small) {
    top: 35vh;
  }
}

p {
  text-align: justify;
  color: white;
  @include device(x-large) {
    font-size: 1.25rem;
  }
  @include device(large) {
    font-size: 1.3vw;
  }
  @include device(medium) {
    font-size: 1.5vw;
  }
  @include device(small) {
    font-size: 3.5vw;
  }
}





