// Variaveis do grid

$cols: 12;
$gutter: 20px;
$x-large-device: 1920px;
$large-device: 1200px;
$medium-device: 760px;
$small-device: 480px;
$full-height: 100vh;
$mouse-width: 3.5vw;


// Box-sizing

*, *::after, *::before {
  box-sizing: border-box;
}

.full-height{
  height: #{$full-height};
}

.height-0{
  height: 0;
}

.full-viewport{
  height: 100vh;
  width: 100vw;
}

.overflow-hidden{
  overflow: hidden;
}



// Mixing de media-querie
@mixin device($size){
  @if $size == x-large {
    @media screen and (min-width: #{$x-large-device}){
      @content;
    }
  }

  @else if $size == large {
    @media screen and (min-width: #{$large-device}) and (max-width: #{$x-large-device}) {
      @content;
    }
  }

  @else if $size == medium {
    @media screen and (min-width: #{$medium-device}) and (max-width: #{$large-device}) {
      @content;
    }
  }
  @else if $size == small {
    @media screen and (max-width: #{$medium-device}) {
      @content;
    }
  }
}



// Função do grid

@function grid($col, $offset: false){
  $width: $col / $cols * 100 + '%';
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset{
    $gutter : $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}



// Classes grid

@for $i from 1 through $cols {
  .grid-#{$i}{
    width: grid($i);
  }
}

// Mixin estrutura do grid
@mixin grid-structure{
  float: left;
  min-height: 1px;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  margin-bottom: $gutter / 2;
  @include device(small) {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

//class^="g" seleciona todas as classes que iniciam com a letra g.
[class^="grid-"]{
  @include grid-structure;
}

// Classes classes offset

@for $i from 1 through $cols {
  .offset-#{$i}{
    margin-left: grid($i, offset);
    @extend %offset;
  }
}

@include device(small){
  %offset {
    margin-left: 0;
  }
}

// Mixin clearfix
@mixin clearfix{
  &::after, &::before{
    content: '';
    display: table;
    clear: both;
  }
}

@mixin container {
  width: $x-large-device;
  margin: 0 auto;
  position: relative;

  @include device(large){
    width: $large-device;
  }
  @include device(medium){
    width: $medium-device;
  }
  @include device(small){
    width: $small-device;
    padding-left: 10px;
    padding-right: 10px;
  }
  @include clearfix;
}

.container {
  @include container;
}

@mixin row {
  position: relative;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  @include device(s) {
    margin-left: 0;
    margin-right: 0;
  }
  @include clearfix;
}

.row{
  @include row;
}

.title-padding {
  padding-bottom: 30px;
}
