<template>
  <div>
    <DetailsContentSelect />

    <vue-particles
      v-if="!mobile"
      :clickEffect="true"
      :hoverEffect="true"
      :lineLinked="true"
      :lineOpacity="0.3"
      :linesDistance="particlesDistance"
      :linesWidth="1"
      :moveSpeed="3"
      :particleOpacity="0.3"
      :particleSize="2"
      :particlesNumber="particlesNumber"
      class="particles fade-in-particles"
      clickMode="push"
      color="#dedede"
      hoverMode="grab"
      linesColor="#dedede"
      shapeType="circle"
    >
    </vue-particles>
  </div>
</template>

<script>
import { isMobile } from "mobile-device-detect";

import DetailsContentSelect from "../sections/DetailsContentSelect";

export default {
  components: {
    DetailsContentSelect,
  },
  name: "Details",

  data: () => ({
    mobile: isMobile,
    particlesDistance: 300,
    particlesNumber: 20,
  }),

  created() {},
};
</script>

<style scoped>
.particles {
  background-color: transparent;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fade-in 2s 1s linear forwards;
}
</style>
