<template>
  <div class="wrap-banner">

    <!-- PARTICLES BACKGROUND -->
    <vue-particles
      :clickEffect="true"
      :hoverEffect="true"
      :lineLinked="true"
      :lineOpacity="0.3"
      :linesDistance="200"
      :linesWidth="1"
      :moveSpeed="3"
      :particleOpacity="0.3"
      :particleSize="2"
      :particlesNumber="80"
      class="particles"
      clickMode="push"
      color="#dedede"
      hoverMode="grab"
      linesColor="#dedede"
      shapeType="circle"
      style="z-index: 1;"
    >
    </vue-particles>

    <section class="full-viewport z-index-99 overflow-hidden">

      <!-- CURSOR FOLLOW COMPONENT-->
      <kinesis-container :duration="duration">
        <kinesis-element :strength="strength"
                         type="depth">

          <!-- VIDEO BACKGROUND -->
          <video-background
            :autoplay="autoplay"
            :loop="loop"
            :muted="muted"
            :src="require('../assets/videointro.mp4')"
            @ended="videoEnded()"
            class="full-viewport"
            
            ref="video"
          >

            <!-- ROW -->
            <v-row class="justify-center align-center full-viewport transparent ">
              <v-btn
                @click="play()"
                class="mb-4"
                text
                type="button"
                v-if="!playing"><h1 class="mb-12">INICIALIZAR</h1>
              </v-btn>
            </v-row>

          </video-background>
        </kinesis-element>
      </kinesis-container>
    </section>
  </div>
</template>

<script>
  export default {
    data: () => ({
      muted: false,
      loop: false,
      autoplay: false,
      playing: false,
      strength: 15,
      duration: 1500,
    }),


    methods: {
      play() {
        this.playing = true;
        this.strength = 0;
        this.$refs.video.player.play();
      },


      videoEnded() {
        // this.$router.replace('/home');
      }
    }
  }
</script>


<style lang="scss" scoped>
  @import '../../public/css/main';

  .particles {
    background-image: linear-gradient(to right bottom, rgba(66, 0, 0, 0.6), rgba(0, 37, 70, 0.6)),
    url("../assets/bhanu.jpg");
    background-color: #222222;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .wrap-banner {
    position: relative;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
</style>
