<template>
  <div>
    <Home/>
    <About/>
    <Skills v-if="!mobile"/>
    <RotatingCards/>
    <Contact/>
    <Footer/>

    <vue-particles
      v-if="!mobile"
      :clickEffect="true"
      :hoverEffect="true"
      :lineLinked="true"
      :lineOpacity="0.3"
      :linesDistance="particlesDistance"
      :linesWidth="1"
      :moveSpeed="3"
      :particleOpacity="0.3"
      :particleSize="2"
      :particlesNumber="particlesNumber"
      class="particles fade-in-particles"
      clickMode="push"
      color="#dedede"
      hoverMode="grab"
      linesColor="#dedede"
      shapeType="circle"
    >
    </vue-particles>
  </div>
</template>

<script>
  import {isMobile} from "mobile-device-detect";
  import Home from '../sections/Home'
  import About from '../sections/About'
  import Intro from './Intro'
  import RotatingCards from '../sections/Tools'
  import Contact from '../sections/Contact'
  import Footer from '../components/general/Footer'
  import Skills from '../sections/Skills'

  export default {
    components: {
      Skills,
      Home,
      About,
      Intro,
      RotatingCards,
      Contact,
      Footer,


    },
    name: "LandingPage",

    data: () => ({
      mobile: isMobile,
      particlesDistance: 300,
      particlesNumber: 20
    }),

    created() {
    /*  if (this.mobile) {
        this.particlesDistance = 300;
        this.particlesNumber = 5;
      }else{
        this.particlesDistance = 300;
        this.particlesNumber = 30;
      }*/
    }
  }
</script>

<style scoped>
  .particles {
    background-color: transparent;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade-in 2s 1s linear forwards;
  }
</style>
