<template>
  <div class="full-viewport">

    <v-row class="full-height justify-center align-center red">

      <v-col cols="2">
        <div class="outter-right ">
          <div class="inner-right">
          </div>
        </div>
      </v-col>
      <v-col class="blue" cols="8">
        <p> lorem ipsum modafoca</p>
      </v-col>
      <v-col cols="2">
        <div class="outter-left">
          <div class="inner-left">
          </div>
        </div>
      </v-col>

    </v-row>

  </div>
</template>
<script>
  export default {
    data: () => ({
      isIntersecting: false,
    }),

    methods: {
      teste() {
        alert('foi')
      }
    },
  }
</script>
<style lang="scss" scoped>
  @import "../../public/css/main";


</style>


<style scoped>

  .outter-right {
    position: relative;

    width: 35vw;
    height: 35vw;
    overflow: hidden;
    z-index: 10;
  }

  .inner-right {
    position: absolute;
    top: 0;
    width: 35vw;
    height: 35vw;
  //background: rgba(255, 255, 255, .25); background: rgba(0, 0, 0, 1); border-width: 2px;
    border-style: solid;
    -webkit-transform: rotate(45deg);
  }

  .outter-left {
    position: relative;

    width: 35vw;
    height: 35vw;
    overflow: hidden;
    z-index: 10;
  }

  .inner-left {
    position: absolute;
    top: 0;
    width: 35vw;
    height: 35vw;
  //background: rgba(255, 255, 255, .25); background: rgba(0, 0, 0, 1); border-width: 2px;
    border-style: solid;
    -webkit-transform: rotate(45deg);
  }

  /*
    .outter:before,
    .outter:after,
    .inner:before,
    .inner:after {
      background: rgba(255, 255, 255, .25);;
    }

    .inner {
      border-color: rgba(255, 255, 255, .25);
    }
  */

  /*
    .outter:before,
    .outter:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 2px;

      height: 86px;
      margin-top: -41px;
      z-index: 1;
    }

    .outter:after {
      left: auto;
      right: 0;
      margin-top: -45px;
      height: 92px;
    }*/

  /*
    .inner:before,
    .inner:after {
      -webkit-transform: rotate(45deg);
      content: "";
      position: absolute;
      width: 2px;
      height: 85px;
      margin-top: -41px;
      z-index: 1;
      right: auto;
      left: 27px;
      bottom: auto;
      top: 27px;
    }

    .inner:after {
      height: 90px;
      right: 30px;
      left: auto;
      bottom: -13px;
      top: auto;
    }*/


</style>
