<template>
  <v-footer class="white justify-center">
    <v-row class="no-gutters justify-center">
      <v-col cols="12" class="mt-4 z-index-99">
        <div class="mx-auto div1">
          <a target="_blank"
             href="https://github.com/burgodev">
            <v-img height="50" width="100" class="mx-auto" :src="require('../../assets/github.jpg')"/>
          </a>
        </div>
      </v-col>

      <v-col sm="2" md="2" lg="2" xl="2"  cols="5" class="z-index-99">
        <div class="mx-auto div2">
          <a target="_blank"
             href="https://www.linkedin.com/in/filipe-burgonovo/">
            <v-img height="30" width="150" class="mx-auto"
                   :src="require('../../assets/linkedin.jpg')"/>
          </a>
        </div>
      </v-col>

      <v-col class="text-center mt-3 z-index-99" cols="12" >
        <v-icon class="mr-2"> phone</v-icon>
        <span class="black--text align-center main-font"><strong>{{phone}}</strong> </span>
      </v-col>

      <v-col class="text-center mt-1 z-index-99" cols="12">
        <v-icon class="mr-2"> mail</v-icon>
        <span class="black--text align-center main-font mt-1" > <strong>{{email}} </strong></span>
      </v-col>


      <v-col class="text-center mt-1 mb-3" cols="12" style=" z-index: 99;">
        <span class="main-font"><strong> {{ new Date().getFullYear() }} — @copyright Filipe Burgonovo</strong></span>
      </v-col>

    </v-row>
  </v-footer>
</template>

<script>
  export default {
    name: "FooterPortfolio2.0",

    data: () => ({
      phone: '(47) 9 9705-5115',
      email: 'burgodev@gmail.com',

    }),


  }
</script>

<style scoped lang="scss">
  @import '../../../public/css/main';

  .div1{
    width: 95px;
  }
  .div2{
    width: 150px;
  }

  span {
    @include device(x-large) {
      font-size: calc(10px + .3vw);
    }
    @include device(large) {
      font-size: calc(10px + .4vw);
    }
    @include device(medium) {
      font-size: calc(10px + .5vw);
    }
    @include device(small) {
      font-size: calc(10px + .75vw);

    }
  }

  .v-icon {
    color: black;
    @include device(x-large) {
      font-size: calc(10px + 2vw);
    }
    @include device(large) {
      font-size: calc(10px + 1.5vw);
    }
    @include device(medium) {
      font-size: calc(10px + 2vw);
    }
    @include device(small) {
      font-size: calc(10px + 2.5vw);
    }
  }
</style>
