<template>
  <v-app-bar
    absolute
    app
    class="transparent toolbar-animation toolbar-index"
    dark
    flat
  >
    <v-row class="justify-center ">
      <v-col
        class="padding-0 col1"
        cols="12">
        <v-btn
          @click="$vuetify.goTo('#about', optionsAbout)"
          class="mx-2"
          text
          type="button">
          <v-icon class="mr-2">person</v-icon>
          About
        </v-btn>

        <v-btn
          @click="$vuetify.goTo('#skills', options)"
          class="mx-2"
          text
          type="button"
        >
          <v-icon class="mr-2">build</v-icon>
          Skills
        </v-btn>

        <v-btn
          @click="$vuetify.goTo('#contact', options)"
          class="mx-2"
          text
          type="button"
        >
          <v-icon class="mr-2">mail</v-icon>
          Contact
        </v-btn>
      </v-col>
    </v-row>
  </v-app-bar>
</template>

<script>
  export default {
    name: "Toolbar.vue",

    data: () => {
      return {
        optionsAbout: {
          duration: 500,
          offset: -65,
          easing: 'easeOutCubic'
        },

        options: {
          duration: 500,
          offset: 0,
          easing: 'easeOutCubic'
        }

      }
    }

  }

</script>

<style lang="scss" scoped>
  @import "../../../public/css/main";

  .toolbar-index {
    z-index: 999 !important;
  }


  .v-icon {
    filter: blur(0.007em);
    color: white;
    animation: shake 2.5s linear infinite;

    @include device(x-large) {
      font-size: calc(10px + 1vw);
    }
    @include device(large) {
      font-size: calc(10px + 1vw);
    }
    @include device(medium) {
      font-size: calc(10px + 1vw);
    }
    @include device(small) {
      font-size: calc(10px + 1vw);
      margin-top: 1px;
    }
  }

  .col1 {
    @include device(x-large) {
      text-align: left;
    }
    @include device(large) {
      text-align: left;
    }
    @include device(medium) {
      text-align: left;
    }
    @include device(small) {
      text-align: center;
    }
  }

  .v-btn:not(.v-btn--round).v-size--default {
    padding: 0 0;
  }
</style>


