<template>
  <section class="overflow-hidden" id="about">
    <v-row class="justify-center align-center">
      <!-- WATCHER INTERSECT ANIMATION -->
      <v-col class="z-index-99" cols="12">
        <div class="about-container">
          <!-- ROW 2 TEXT -->
          <v-row
            class="row1"
            v-intersect="{
              handler: onIntersectRow1,
              options: {
                rootMargin: '50%',
                threshold: [0, 0.5, 1.0],
              },
            }"
          >
            <v-col
              class=" translate-x"
              cols="12"
              lg="6"
              md="6"
              sm="12"
              v-bind:class="{ translateX: isIntersectingRow1 }"
              x-lg="7"
            >
              <h1>About</h1>
              <p class="p-left mt-12">
                Since I gained my first computer from my parents at ten years
                old I instantly fell in love with technology. I started coding
                HTML for fun when I was fourteen. At seventeen I started to learn
                Delphi and worked at Visys (Blumenau-Brazil), as a Delphi Junior
                Developer. I managed to create a module in our system to share
                data between telephone exchanges supervised by a senior
                developer. I worked at Visys for a year, then I started pursue 
                another old passion, music. I studied classical guitar with many
                different professors, colleges(FURB/UDESC) and conservatories
                for more than five years. Playing J.S. Bach, Villa-Lobos,
                Beethoven and many other great composers. Studying classical
                guitar gave me a lot of discipline and continuos search for
                excellence(I transfered this qualities to software
                development and use them on a daily basis today).
              </p>
              <p class="p-left mt-12">
                At some point, I realized that music is pure algorithm and there
                is science behind art as art behind science as well. This
                realization drove me back to computer science and I started
                college(software analysis and development) at
                SENAC(Florianópolis-Brazil). After a few months, I started
                working at LABTic, a university's lab(UDESC). Working
                as a full-stack trainee(Vue.js/Node) my main challenge was
                building a module for masters degree applications.
              </p>
              <p class="p-left mt-12">
                I rapidly realized that I was really a front end guy. Suddenly I
                fell in love with front end and started specializing on it.
                After a few months I moved to Wesy Lab(Blumenau-SC) a software
                house where I worked as Junior Front End Developer mainly with
                Vue.js, for a year. We worked in different small apps and MVPs.
                I had a lot of fun helping building the front end of a
                marketplace for cars, that was definitely my main challenge at
                that time.
              </p>
            </v-col>

            <v-col
              class="ml-auto translate-x align-self-center "
              cols="12"
              lg="5"
              md="5"
              sm="12"
              v-bind:class="{ translateX: isIntersectingRow1 }"
              x-lg="5"
            >
              <v-img
                :src="require('../assets/filipeburgonovo.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto img-opacity"
                eager
                v-if="mobile"
                width="75%"
              />
              <v-img
                :src="require('../assets/filipeburgonovo.jpg')"
                cover
                alt="Filipe Burgonovo"
                class="img-opacity "
                eager
                v-else
                max-height="108vh"
                width="100%"
              />
            </v-col>
          </v-row>

          <!-- ROW 3 -->
          <v-row
            class="justify-center"
            style="margin-top: 15vh;"
            v-intersect="{
              handler: onIntersectRow3,
              options: {
                rootMargin: '25%',
                threshold: [0, 0.5, 1.0],
              },
            }"
          >
            <v-col class="height-0" cols="1">
              <div class="outter-left">
                <div class="inner-left"></div>
              </div>
            </v-col>

            <v-col
              class="translate-x mb-12"
              cols="12"
              lg="8"
              md="8"
              sm="12"
              v-bind:class="{ translateX: isIntersectingRow3 }"
              x-lg="8"
            >
              <p>
                Then I started studying React and fell in love with it. I saw a
                huge professional opportunities as a React developer and I started
                specializing. After Wesy, I started working at Exact
                Sales(Florianópolis-SC) as Mid Level Front End. Exact is responible for the biggest
                sales software engagement at Latin America(Spotter) and it was
                one of those opportunities that really professionalized me a
                lot. I was mentored by a senior react specialist that taugth me
                the best front end practices, I was mainly responbile for
                implementing new functionalities and helping rebuilding our
                legacy application using React. After a few months I was
                promoted as main front end to a new work group. We were responbile
                for implenting the new general data protection laws(Brazilian
                LGPD) and I had a lot of responsibility at that time.
              </p>
              <br />
              <p>
                Exact Sales was great, but I always wanted to build apps from
                scratch. After almost two years at Exact, I moved back to Wesy
                Lab where I'm having the most challenging experiences at my
                professional life. Currently I work as Head of Front End,
                leading a small team, creating applications from scracth. I'm
                responsible for scalability, clean code patterns and
                componentizing. I managed to create our own reusable component
                library, and thanks to that, we were able to create an invest
                platform MVP in basically two weeks, it was a lot of fun!
              </p>
            </v-col>         
            <v-col class="height-0" cols="1">
              <div class="outter-right">
                <div class="inner-right"></div>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import { isMobile } from "mobile-device-detect";

export default {
  name: "About.vue",
  data: () => ({
    mobile: isMobile,
    isIntersectingRow1: false,
    isIntersectingRow2: false,
    isIntersectingRow3: false,
    isIntersectingRow4: false,
    watcher: false,
    options: {
      rootMargin: "",
      threshold: 5.0,
    },
  }),

  methods: {
    onIntersectRow1(entries) {
      this.isIntersectingRow1 = entries[0].intersectionRatio >= 0.5;
    },

    onIntersectRow2(entries) {
      this.isIntersectingRow2 = entries[0].intersectionRatio >= 0.5;
    },

    onIntersectRow3(entries) {
      this.isIntersectingRow3 = entries[0].intersectionRatio >= 0.5;
    },

    onIntersectRow4(entries) {
      this.isIntersectingRow4 = entries[0].intersectionRatio >= 0.5;
    },
  },

  created() {},
};
</script>

<style lang="scss">
@import "../../public/css/main";

.about-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.row1 {
  @include device(x-large) {
    margin-top: 48px;
  }
  @include device(large) {
    margin-top: 40px;
  }
  @include device(medium) {
    margin-top: 48px;
  }
  @include device(small) {
    margin-top: 48px;
  }
}

.text-1 {
  @include device(x-large) {
    height: 20vh;
  }
  @include device(large) {
    height: 20vh;
  }
  @include device(medium) {
    height: 15vh;
  }
  @include device(small) {
    height: 15vh;
  }
}

.p1 {
  @include device(x-large) {
    padding: 5vh 2.5vh 0 5vw;
  }
  @include device(large) {
    padding: 5vh 2.5vh 0 5vw;
  }
  @include device(medium) {
    padding: 5vh 2.5vh 0 5vw;
  }
  @include device(small) {
    padding: 5vh 2.5vh 0 5vw;
  }
}

.p-left {
  @include device(x-large) {
    padding: 0 0 0 0;
  }
  @include device(large) {
    padding: 0 0 0 0;
  }
  @include device(medium) {
    padding: 0 0 0 0;
  }
  @include device(small) {
    padding: 0 0 0 0;
  }
}

.p2 {
  @include device(x-large) {
    padding: 5vh 2.5vw 0 5vw;
  }
  @include device(large) {
    padding: 5vh 2.5vw 0 5vw;
  }
  @include device(medium) {
    padding: 5vh 2.5vw 0 5vw;
  }
  @include device(small) {
    padding: 5vh 2.5vw 0 5vw;
  }
}

.p-center {
  @include device(x-large) {
    padding: 5vh 5vw 5vh 5vw;
  }
  @include device(large) {
    padding: 0 5vw 5vh 5vw;
    /*      -webkit-transform: translateY(10vh);
            -moz-transform: translateY(10vh);
            -ms-transform: translateY(10vh);
            -o-transform: translateY(10vh);
            transform: translateY(20vh);*/
  }
  @include device(medium) {
    padding: 5vh 5vw 5vh 5vw;
  }
  @include device(small) {
    padding: 5vh 5vw 5vh 5vw;
  }
}

.p4 {
  @include device(x-large) {
    padding: 5vh 5vw 0 5vh;
  }
  @include device(large) {
    margin: 10vh 9vw 5vh 5vh;
    /*      -webkit-transform: translateY(10vh);
            -moz-transform: translateY(10vh);
            -ms-transform: translateY(10vh);
            -o-transform: translateY(10vh);
            transform: translateY(20vh);*/
  }
  @include device(medium) {
    padding: 5vh 5vw 0 5vh;
  }
  @include device(small) {
    padding: 5vh 2.5vh 0 5vw;
  }
}

.translateX {
  transition: 2s;
  z-index: 99;
  animation: animationcol 0.25s ease-out forwards;
}

@keyframes animationcol {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
    transform: translateX(0vw);
  }
}

.col3 {
  transition: 2s;
  z-index: 99;
  animation: animationcol3 2.5s ease-out forwards;
}

@keyframes animationcol3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0vw) translateY(50vh);
    -moz-transform: translateX(0vw) translateY(50vh);
    -ms-transform: translateX(0vw) translateY(50vh);
    -o-transform: translateX(0vw) translateY(50vh);
    transform: translateX(0vw) translateY(50vh);
  }
}

.row-h3 {
  height: 30vh;
  align-content: center;
}

.img-opacity {
  opacity: 0.9;
}
</style>
