<template>
  <section class="overflow-hidden mt-12 align-center full-height" id="contact">

    <!-- ROW 1 TITLE -->
    <v-row class=" title-padding translate-title"
           v-bind:class="{animation: isIntersecting }">
      <v-col
        class="text-center "
        cols="12"
      >
        <h1>
          Contact
        </h1>
      </v-col>
    </v-row>

    <!-- ROW 2 FORM -->
    <v-row class="justify-center"
           v-intersect="{
            handler: onIntersect,
            options: {
               rootMargin: '100%',
              threshold: [0, 0.5, 1.0]
            }
          }">

      <v-col cols="1">
        <div class="outter-left">
          <div class="inner-left">
          </div>
        </div>
      </v-col>

      <v-col class="form-col" cols="10" lg="6" md="6" sm="6" xl="6"
      >
        <v-card
          class="translate-card transparent "
          dark
          flat
          v-bind:class="{animation: isIntersecting }"
          width="550"
        >
          <v-form
            class="shake"
            ref="form"
            v-model="valid">
            <v-text-field

              @blur="$v.name.$touch()"
              @input="$v.name.$touch()"
              label="Name"
              required
              v-model="name"
              :rules="[v => !!v || 'Digite um nome']"
            ></v-text-field>
            <v-text-field

              @blur="$v.email.$touch()"
              @input="$v.email.$touch()"
              label="E-mail"
              required
              v-model="email"
              :rules="emailRules"
            ></v-text-field>
            <v-text-field

              @blur="$v.subject.$touch()"
              @input="$v.subject.$touch()"
              label="Subject"
              required
              v-model="subject"
              :rules="[v => !!v || 'Digite um assunto']"
            ></v-text-field>


            <v-textarea
              :rules="[v => !!v || 'Digite uma mensagem']"
              @blur="$v.text.$touch()"
              @input="$v.text.$touch()"
              label="Message"
              name="input-7-1"
              required
              v-model="text"
            ></v-textarea>

            <v-row class="justify-center">
              <v-btn :disabled="!valid" @click="sendEmail" class="mr-4 primary" depressed> <span>Send</span></v-btn>
              <v-btn @click="clear" depressed outlined><span>Reset</span></v-btn>

            </v-row>
            <v-row class="justify-center mt-7">
              <v-progress-circular
                v-if="sendingEmail"
                indeterminate
                color="rgba(109, 191, 249)"
              ></v-progress-circular>
            </v-row>
          </v-form>



          <v-snackbar
            color="green"
            v-model="snackbar"
          >
            {{ snackbarText }}
            <v-btn
              @click="snackbar = false"
              color="white"
              text
            >
              Fechar
            </v-btn>
          </v-snackbar>
        </v-card>


      </v-col>

      <v-col cols="1">
        <div class="outter-right">
          <div class="inner-right">
          </div>
        </div>
      </v-col>
    </v-row>
  </section>
</template>

<script>
  import emailjs from 'emailjs-com';


  export default {
    name: 'Contact.vue',

    data: () => ({
      emailRules: [
        v => !!v || 'Digite um e-mail',
        v => /.+@.+\..+/.test(v) || 'Digite um e-mail válido',
      ],
      snackbar: false,
      sendingEmail: false,
      snackbarText: 'E-mail enviado com sucesso!',
      valid: true,
      params: {
        templateId: 'burgodev',
        serviceId: 'gmail',
        userId: 'user_XQHtlXLMjeXZbOlXWY9m8',
      },
      email: '',
      name: '',
      subject: '',
      text: '',
      isIntersecting: false,
    }),


    methods: {
      onIntersect(entries) {
        this.isIntersecting = entries[0].intersectionRatio >= 0.5;
      },

      sendEmail() {
        this.sendingEmail = true;
        emailjs.send(
          this.params.serviceId,
          this.params.templateId,
          {email: this.email, name: this.name, subject: this.subject, text: this.text},
          this.params.userId
        ).then((result) => {
          console.log('EMAIL SUCCESS!', result.status, result.text);
          this.clear();
          this.snackbar = true;
          this.sendingEmail = false;
        }, (error) => {
          console.log('EMAIL FAILED...', error);
        });
      },


      clear() {
        this.$refs.form.reset();
        this.$refs.form.resetValidation();
      },
    },
  }
</script>

<style lang="scss" scoped>
  @import '../../public/css/main';

  span{
    margin-bottom: .175vw !important;
  }


  .animation {
    -webkit-animation: translateX .3s ease-out forwards;
    -o-animation: translateX .3s ease-out forwards;
    animation: translateX .3s ease-out forwards;
  }


  @keyframes translateX {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
      -webkit-transform: translateX(0vh);
      -moz-transform: translateX(0vh);
      -ms-transform: translateX(0vh);
      -o-transform: translateX(0vh);
      transform: translateX(0vh);
    }
  }

  .translate-card {
    z-index: 99;
    transform: translateX(100vw);
  }




  .translate-title {
    z-index: 99;
    transform: translateX(-100vw);
  }

  .form-col {
    text-align: -webkit-center;
    text-align: -moz-center;
  }

  .v-btn {
    filter: blur(0.007em);
    color: white;
    animation: shake 2.5s linear infinite;

  }

  //OCTAGONE
  .outter-left {
    top: -15vh;
    position: relative;
    width: 35vw;
    height: 35vw;
    overflow: hidden;
    z-index: 10;
    left: -42vw;
  }

  .inner-right {
    position: absolute;
    top: 0;
    width: 35vw;
    height: 35vw;
    background: rgba(109, 191, 249, 0.6);
    -webkit-transform: rotate(45deg);
  }

  .outter-right {
    top: -15vh;
    right: -14vw;
    position: relative;
    width: 35vw;
    height: 35vw;
    overflow: hidden;
    z-index: 10;
  }

  .inner-left {
    position: absolute;
    top: 0;
    width: 35vw;
    height: 35vw;
    background: rgba(109, 191, 249, 0.6);
    -webkit-transform: rotate(45deg);
  }

  /*
    octagone-outter-left{
      @include octagone-outter{
        width: 35vw;
        height: 35vw;
      };
    }

    octagone-inner-left{
      @include octagone-inner{
        top: 0px;
        width: 35vw;
        height: 35vw;
        //background: rgba(255, 255, 255, .25);
        background: rgba(109, 191, 249, 0.6);
      };
    }
  */
</style>
