<template>
  <section class="overflow-hidden" id="about">
    <v-row class="justify-center align-center">
      <!-- WATCHER INTERSECT ANIMATION -->
      <v-col class="z-index-99" cols="12">
        <!-- ROW 1 TITLE -->
        <v-row class="justify-center  mt-7">
          <h1>Ax Invest</h1>
        </v-row>

        <div class="about-container">
          <!-- ROW 2 TEXT -->
          <v-row
            class="row1"
            v-intersect="{
              handler: onIntersectRow1,
              options: {
                rootMargin: '50%',
                threshold: [0, 0.5, 1.0],
              },
            }"
          >
            <v-col class=" " cols="12" lg="12" md="12" sm="12" x-lg="12">
              <p class="p-left mt-12" style="font-size: 24px; text-align: center">
                An investing platform MVP. I worked as Head Front Engineer at Ax invest developing the
                whole software from scracth.
              </p>
            </v-col>

            <v-col
              class="ml-auto  align-self-center "
              cols="12"
              lg="12"
              md="12"
              sm="12"
              x-lg="12"
            >
              <v-img
                :src="require('../assets/ax2.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                width="85%"
                style="margin: 12px 0px"
              />
            </v-col>

            <v-col
              class="ml-auto align-self-center "
              cols="12"
              lg="12"
              md="12"
              sm="12"
              x-lg="12"
            >
              <v-img
                :src="require('../assets/ax.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                width="85%"
                style="margin: 12px 0px"
              />
            </v-col>
            <v-col
              class="ml-auto align-self-center "
              cols="12"
              lg="12"
              md="12"
              sm="12"
              x-lg="12"
            >
              <v-img
                :src="require('../assets/ax3.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                width="85%"
                style="margin: 12px 0px"
              />
            </v-col>
            <v-col
              class="ml-auto align-self-center "
              cols="12"
              lg="12"
              md="12"
              sm="12"
              x-lg="12"
            >
              <v-img
                :src="require('../assets/ax4.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                width="85%"
                style="margin: 12px 0px"
              />
            </v-col>
            <v-col
              class="ml-auto align-self-center "
              cols="12"
              lg="12"
              md="12"
              sm="12"
              x-lg="12"
            >
              <v-img
                :src="require('../assets/ax5.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                width="85%"
                style="margin: 12px 0px"
              />
            </v-col>
            <v-col
              class="ml-auto align-self-center "
              cols="12"
              lg="12"
              md="12"
              sm="12"
              x-lg="12"
            >
              <v-img
                :src="require('../assets/ax6.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                width="85%"
                style="margin: 12px 0px"
              />
            </v-col>

            <v-col
              class="ml-auto align-self-center "
              cols="12"
              lg="12"
              md="12"
              sm="12"
              x-lg="10"
              style="display: flex"
            >
              <img
                :src="require('../assets/ax7.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                style="margin: 12px 0px"
              />
              <img
                :src="require('../assets/ax12.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                style="margin: 12px 0px"
              />
              <img
                :src="require('../assets/ax8.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                style="margin: 12px 0px"
              />
            </v-col>
            <v-col
              class="ml-auto align-self-center "
              cols="12"
              lg="12"
              md="12"
              sm="12"
              x-lg="10"
              style="display: flex"
            >
              <img
                :src="require('../assets/ax9.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                style="margin: 12px 0px"
              />
              <img
                :src="require('../assets/ax10.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                style="margin: 12px 0px"
              />
              <img
                :src="require('../assets/ax11.jpg')"
                alt="Filipe Burgonovo"
                class="mx-auto "
                eager
                style="margin: 12px 0px"
              />
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import { isMobile } from "mobile-device-detect";

export default {
  name: "About.vue",
  data: () => ({
    mobile: isMobile,
    isIntersectingRow1: false,
    isIntersectingRow2: false,
    isIntersectingRow3: false,
    isIntersectingRow4: false,
    watcher: false,
    options: {
      rootMargin: "",
      threshold: 5.0,
    },
  }),

  methods: {
    onIntersectRow1(entries) {
      this.isIntersectingRow1 = entries[0].intersectionRatio >= 0.5;
    },

    onIntersectRow2(entries) {
      this.isIntersectingRow2 = entries[0].intersectionRatio >= 0.5;
    },

    onIntersectRow3(entries) {
      this.isIntersectingRow3 = entries[0].intersectionRatio >= 0.5;
    },

    onIntersectRow4(entries) {
      this.isIntersectingRow4 = entries[0].intersectionRatio >= 0.5;
    },
  },

  created() {},
};
</script>

<style lang="scss">
@import "../../public/css/main";

.about-container {
  margin-left: 5vw;
  margin-right: 5vw;
}

.row1 {
  @include device(x-large) {
    margin-top: 48px;
  }
  @include device(large) {
    margin-top: 40px;
  }
  @include device(medium) {
    margin-top: 48px;
  }
  @include device(small) {
    margin-top: 48px;
  }
}

.text-1 {
  @include device(x-large) {
    height: 20vh;
  }
  @include device(large) {
    height: 20vh;
  }
  @include device(medium) {
    height: 15vh;
  }
  @include device(small) {
    height: 15vh;
  }
}

.p1 {
  @include device(x-large) {
    padding: 5vh 2.5vh 0 5vw;
  }
  @include device(large) {
    padding: 5vh 2.5vh 0 5vw;
  }
  @include device(medium) {
    padding: 5vh 2.5vh 0 5vw;
  }
  @include device(small) {
    padding: 5vh 2.5vh 0 5vw;
  }
}

.p-left {
  @include device(x-large) {
    padding: 0 0 0 0;
  }
  @include device(large) {
    padding: 0 0 0 0;
  }
  @include device(medium) {
    padding: 0 0 0 0;
  }
  @include device(small) {
    padding: 0 0 0 0;
  }
}

.p2 {
  @include device(x-large) {
    padding: 5vh 2.5vw 0 5vw;
  }
  @include device(large) {
    padding: 5vh 2.5vw 0 5vw;
  }
  @include device(medium) {
    padding: 5vh 2.5vw 0 5vw;
  }
  @include device(small) {
    padding: 5vh 2.5vw 0 5vw;
  }
}

.p-center {
  @include device(x-large) {
    padding: 5vh 5vw 5vh 5vw;
  }
  @include device(large) {
    padding: 0 5vw 5vh 5vw;
    /*      -webkit-transform: translateY(10vh);
            -moz-transform: translateY(10vh);
            -ms-transform: translateY(10vh);
            -o-transform: translateY(10vh);
            transform: translateY(20vh);*/
  }
  @include device(medium) {
    padding: 5vh 5vw 5vh 5vw;
  }
  @include device(small) {
    padding: 5vh 5vw 5vh 5vw;
  }
}

.p4 {
  @include device(x-large) {
    padding: 5vh 5vw 0 5vh;
  }
  @include device(large) {
    margin: 10vh 9vw 5vh 5vh;
    /*      -webkit-transform: translateY(10vh);
            -moz-transform: translateY(10vh);
            -ms-transform: translateY(10vh);
            -o-transform: translateY(10vh);
            transform: translateY(20vh);*/
  }
  @include device(medium) {
    padding: 5vh 5vw 0 5vh;
  }
  @include device(small) {
    padding: 5vh 2.5vh 0 5vw;
  }
}

.translateX {
  transition: 2s;
  z-index: 99;
  animation: animationcol 0.25s ease-out forwards;
}

@keyframes animationcol {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
    transform: translateX(0vw);
  }
}

.col3 {
  transition: 2s;
  z-index: 99;
  animation: animationcol3 2.5s ease-out forwards;
}

@keyframes animationcol3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0vw) translateY(50vh);
    -moz-transform: translateX(0vw) translateY(50vh);
    -ms-transform: translateX(0vw) translateY(50vh);
    -o-transform: translateX(0vw) translateY(50vh);
    transform: translateX(0vw) translateY(50vh);
  }
}

.row-h3 {
  height: 30vh;
  align-content: center;
}
</style>
