<template>
  <section class="overflow-hidden ">
    <!-- WRAPPER BACKGROUND ANIMATION -->
    <div class="wrapper run-animation">
      <v-row class="title-animation full-height content-center ">
        <v-col class="align-center" cols="12" style="margin-bottom: 100px">

          <!-- ROW 1 TITLE -->
          <v-row class="justify-center">
            <h1>FRONT-END DEVELOPER</h1>
          </v-row>

          <v-row class="justify-center">
            <h2>FILIPE BURGONOVO</h2>
          </v-row>
        </v-col>

        <!-- ROW 2 SVG MOUSE -->
        <v-row class="justify-center toolbar-animation" cols="12">
          <v-btn @click="$vuetify.goTo('#tools', {duration: 750, offset: -100, easing: 'linear'})" class="mouse-btn"
                 text>
            <svg class="mouse" preserveAspectRatio="xMidYMid meet" viewBox="0 0 76 130"
                 xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <rect height="118" rx="36" stroke="#FFF" stroke-width="3" width="70" x="1.5" y="1.5"/>
                <circle class="scroll" cx="36.5" cy="31.5" fill="#FFF" r="4.5"/>
              </g>
            </svg>
          </v-btn>
        </v-row>
      </v-row>
    </div>
  </section>
</template>
<script>
  export default {
    name: "Home.vue",
    data: () => ({}),

    methods: {
      typewriter() {
        let h1 = document.querySelector('h1');
        let h2 = document.querySelector('h2');
        let stringH1 = h1.innerHTML.split('');
        let stringH2 = h2.innerHTML.split('');

        h1.innerHTML = '';
        stringH1.forEach((letter, i) => {
          setTimeout(() => h1.innerHTML += letter, 100 * i);
        });

        h2.innerHTML = '';

        setTimeout(() => stringH2.forEach((letter, i) => {
          setTimeout(() => h2.innerHTML += letter, 115 * i);
        }), 1500);
      },
    },

    created() {
      setTimeout(() => this.typewriter(), 1000);
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../public/css/main";

  .row1 {
    height: 80vh;
  }

  .row2 {
    height: 20vh;
  }

  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

  .wrapper.run-animation {
    background-image: linear-gradient(to right bottom, rgba(66, 0, 0, 0.7), rgba(0, 37, 70, 0.7)),
    url("../assets/bhanu.jpg");
    -webkit-animation: grow linear 2.5s forwards;
    animation: grow linear 2.5s forwards;
  }

  .title-animation {
    opacity: 0;
    -webkit-animation: fade-in linear 3s .8s forwards;
    animation: fade-in linear 3s .8s forwards;
  }

  @keyframes grow {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }


    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes grow {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>
