<template>
  <section class="overflow-hidden mt-12" id="skills">
    <v-row class="justify-center ">
      <h1 style="margin-bottom: 60px">Main Stack</h1>
    </v-row>
    <v-row class="justify-center ">
      <v-col
        cols="10"
        class="z-index-99 main-col"
        v-bind:class="{ clickable: isIntersecting }"
        v-intersect="{
          handler: onIntersect,
          options: {
            rootMargin: '40%',
            threshold: [0, 0.5, 1.0],
          },
        }"
      >
        <!-- ROW 1 -->
        <div class="row-left" v-bind:class="{ col1active: isIntersecting }">
          <v-row class="grow-skill">
            <v-spacer />
            <v-col cols="1" class="rotate-icon transparent">
              <v-img
                :src="require('../assets/react.png')"
                alt="Filipe Burgonovo"
                class="mx-auto"
                style="border-radius: 32px"
              />
            </v-col>

            <v-col cols="3" class="span-col">
              <span class="ml-3">
                React
                <br />
              </span>
            </v-col>
          </v-row>
        </div>

        <!--- ROW 2 -->
        <div class="row-right" v-bind:class="{ col1active: isIntersecting }">
          <v-row class="grow-skill row2">
            <v-spacer />
            <v-col cols="1" class="rotate-icon transparent">
              <!-- v-icon color="white">search</v-icon> -->
              <v-img
                :src="require('../assets/react-native.png')"
                alt="Filipe Burgonovo"
                style="border-radius: 32px"
              />
            </v-col>

            <v-col cols="4" class="span-col">
              <span class="ml-3">
                React Native
                <br />
              </span>
            </v-col>
          </v-row>
        </div>

        <!--- ROW 3 -->
        <div class="row-left" v-bind:class="{ col1active: isIntersecting }">
          <v-row class="grow-skill row3">
            <v-spacer />
            <v-col cols="1" class="rotate-icon transparent">
              <!-- <v-icon color="white">mood</v-icon> -->
              <v-img
                :src="require('../assets/redux.png')"
                alt="Filipe Burgonovo"
                class="mx-auto"
                style="border-radius: 32px"
              />
            </v-col>

            <v-col cols="6" class="span-col">
              <span class="ml-3">Redux</span>
            </v-col>
          </v-row>
        </div>

        <!--- ROW 4 -->
        <div class="row-right" v-bind:class="{ col1active: isIntersecting }">
          <v-row class="grow-skill row4">
            <v-spacer />
            <v-col cols="1" class="rotate-icon transparent">
              <!-- <v-icon color="white">person</v-icon> -->
              <v-img
                :src="require('../assets/js.png')"
                alt="Filipe Burgonovo"
                class="mx-auto"
                style="border-radius: 32px"
              />
            </v-col>

            <v-col cols="6" class="span-col">
              <span class="ml-3">
                Javascript ES6+
              </span>
            </v-col>
          </v-row>
        </div>

        <!--- ROW 5 -->
        <div class="row-right" v-bind:class="{ col1active: isIntersecting }">
          <v-row class="grow-skill row5">
            <v-spacer />
            <v-col cols="1" class="rotate-icon transparent">
              <!-- <v-icon color="white">record_voice_over</v-icon> -->
              <v-img
                :src="require('../assets/type.png')"
                alt="Filipe Burgonovo"
                class="mx-auto"
                style="border-radius: 32px"
              />
            </v-col>

            <v-col cols="8" class="span-col">
              <span class="ml-3">
                Typescript
              </span>
            </v-col>
          </v-row>
        </div>

        <!--- ROW 6 -->
        <div class="row-right" v-bind:class="{ col1active: isIntersecting }">
          <v-row class="grow-skill row6">
            <v-spacer />
            <v-col cols="1" class="rotate-icon transparent">
              <v-img
                :src="require('../assets/html.png')"
                alt="Filipe Burgonovo"
                class="mx-auto"
                style="border-radius: 32px"
                height="80px"
              />
            </v-col>

            <v-col cols="9" class="span-col mr-3">
              <span class="ml-3">
                HTML/CSS
              </span>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import { isMobile } from "mobile-device-detect";
export default {
  name: "Skills.vue",

  data: () => ({
    mobile: isMobile,
    isIntersecting: false,
  }),

  methods: {
    onIntersect(entries) {
      this.isIntersecting = entries[0].intersectionRatio >= 0.5;
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../public/css/main";

.clickable {
  animation: clickable 1s 1s forwards linear;
}

@keyframes clickable {
  from {
    z-index: 0;
  }
  to {
    z-index: 99;
  }
}

.row-left {
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
  transform: translateX(-100vw);
}

.row-right {
  -webkit-transform: translateX(100vw);
  -moz-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  -o-transform: translateX(100vw);
  transform: translateX(100vw);
}

.col1active {
  animation: translate0 0.25s forwards ease-out;
}

@keyframes translate0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
    transform: translateX(0vw);
  }
}

.grow-skill {
  transition: 1s;
}

.grow-skill:hover {
  transform: scale(1.1);
}

.rotate-icon {
  transition: 1s;
  transform: rotateZ(-10deg);
}

.grow-skill:hover .rotate-icon {
  transform: rotateZ(0deg) !important;
  background-color: white;
}

.v-icon {
  border: solid white;
}

span {
  text-align: center;
  position: absolute;
  font-family: "Michroma", Arial, sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em lightgrey;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear infinite;

  @include device(x-large) {
    margin-top: -8px;
    font-size: 1.5vw;
  }
  @include device(large) {
    margin-top: -8px;
    font-size: 1.5vw;
  }
  @include device(medium) {
    margin-top: -3px;
    font-size: 2vw;
  }
  @include device(small) {
    margin-top: -5.5px;
    font-size: 2vw;
  }
}

.v-icon {
  filter: blur(0.007em);
  color: white;
  animation: shake 2.5s linear infinite;

  @include device(x-large) {
    font-size: calc(10px + 4vw);
  }
  @include device(large) {
    font-size: calc(10px + 4vw);
  }
  @include device(medium) {
    font-size: calc(10px + 4vw);
  }
  @include device(small) {
    font-size: calc(10px + 5vw);
    margin-top: 1px;
  }
}

.main-col {
  @include device(x-large) {
    margin-right: 10vw;
  }
  @include device(large) {
    margin-right: 10vw;
  }
  @include device(medium) {
    margin-right: 10vw;
  }
  @include device(small) {
    margin-right: 18vw;
  }
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

.span-col {
  padding-top: 3vh;
  padding-left: 3.5vh;
}

.row2 {
  padding-top: 7vh;
  padding-right: 1.75vw;
}

.row3 {
  padding-top: 7vh;
  padding-left: 6vw;
}

.row4 {
  padding-top: 7vh;
  padding-right: 12vw;
}

.row5 {
  padding-top: 7vh;
  padding-right: 0;
}

.row6 {
  padding-top: 7vh;
  padding-right: 10.5vw;
}
</style>
