<template>
  <section class="overflow-hidden">
    <v-row class="justify-center row">
      <v-col
        class="z-index-99 align-center "
        cols="12"
        v-intersect="{
          handler: onIntersect,
          options: {
            rootmargin: '75%',
            threshold: [0, 0.5, 1.0],
          },
        }"
      >
        <h1
          class="z-index-99 grow-card shake"
          v-bind:class="{ grow: isIntersecting }"
        >
          Main Projects
        </h1>

        <div
          v-if="!mobile"
          class="image-cards mx-auto grow-card z-index-99"
          v-bind:class="{ grow: isIntersecting }"
        >
          <div class="image-cards__content">
            <a
              class="image-cards__item d-flex align-items-center justify-content-center"
              href="/details/select"
              target="_blank"
            ></a>
            <a
              class="image-cards__item d-flex align-items-center justify-content-center"
              href="/details/botmoney"
              target="_blank"
            ></a>
            <a
              class="image-cards__item d-flex align-items-center justify-content-center"
              href="/details/ax-invest"
              target="_blank"
            ></a>
            <a
              class="image-cards__item d-flex align-items-center justify-content-center"
              href="https://www.exactsales.com.br/"
              target="_blank"
            />
          </div>
        </div>
        <div
          v-else
          class="image-cards-mobile mx-auto grow-card z-index-99"
          v-bind:class="{ grow: isIntersecting }"
        >
          <div class="image-cards__content">
            <a
              class="image-cards-mobile__item d-flex align-items-center justify-content-center"
              href="/details/select"
              target="_blank"
            ></a>
            <a
              class="image-cards-mobile__item d-flex align-items-center justify-content-center"
              href="/details/botmoney"
              target="_blank"
            ></a>
            <a
              class="image-cards-mobile__item d-flex align-items-center justify-content-center"
              href="/details/ax-invest"
              target="_blank"
            ></a>          
          </div>
        </div>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import { isMobile } from "mobile-device-detect";
export default {
  name: "Products",

  data: () => ({
    mobile: isMobile,
    isIntersecting: false,
  }),

  methods: {
    onIntersect(entries) {
      this.isIntersecting = entries[0].intersectionRatio >= 0.5;
    },
    videoEnded() {
      this.$router.replace("/teste");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../public/css/main";

h1 {
  opacity: 0;

  @include device(x-large) {
    height: 20vh;
    font-size: calc(5px + 2.5vw);
  }
  @include device(large) {
    font-size: calc(5px + 2.5vw);
    height: 20vh;
  }
  @include device(medium) {
    font-size: calc(5px + 3vw);
    height: 30vh;
  }
  @include device(small) {
    font-size: calc(5px + 6vw);
    height: 17.5vh;
  }
}

.image-cards {
  position: relative;
  height: 100vh;
  max-width: 580px;
  max-height: 450px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;
  opacity: 0;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;

    &.step-animation {
      animation: carousel 10s infinite steps(1) forwards;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 80vw;
    max-width: 580px;
    max-height: 450px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    transform-origin: center;
    cursor: pointer;

    &:nth-child(1) {
      opacity: 0.95;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.95);
      background: url("../assets/select3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotateY(0) translateZ(35vw);
    }

    &:nth-child(1):hover {
      opacity: 1;
      background-image: url("../assets/select3.jpg");
    }

    &:nth-child(2) {
      opacity: 0.95;
      border-radius: 30px;
      background: url("../assets/botmoney4.jpg") no-repeat center;
      background-size: contain;
      transform: rotateY(80deg) translateZ(35vw);
    }

    &:nth-child(2):hover {
      opacity: 1;
      background-image: url("../assets/botmoney4.jpg");
    }

    &:nth-child(4) {
      opacity: 0.95;
      border-radius: 30px;
      background: url("../assets/exact.jpg") no-repeat center;
      background-size: contain;
      transform: rotateY(160deg) translateZ(35vw);
    }

    &:nth-child(4):hover {
      opacity: 1;
      background-image: linear-gradient(
          to right bottom,
          rgb(23, 21, 22, 0),
          rgba(23, 21, 22, 0)
        ),
        url("../assets/exact.jpg");
    }
    &:nth-child(3) {
      opacity: 0.95;
      border-radius: 30px;
      background: url("../assets/ax.jpg") no-repeat center;
      background-size: contain;
      transform: rotateY(240deg) translateZ(35vw);
    }

    &:nth-child(3):hover {
      opacity: 1;
      background-image: linear-gradient(
          to right bottom,
          rgb(23, 21, 22, 0),
          rgba(23, 21, 22, 0)
        ),
        url("../assets/ax.jpg");
    }
  }
}

.image-cards-mobile {
  position: relative;
  height: 100vh;
  max-width: 580px;
  max-height: 450px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;
  opacity: 0;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel2 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;

    &.step-animation {
      animation: carousel2 10s infinite steps(1) forwards;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 80vw;
    max-width: 580px;
    max-height: 450px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    transform-origin: center;
    cursor: pointer;

    &:nth-child(1) {
      opacity: 0.95;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.95);
      background: url("../assets/select3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotateY(0) translateZ(35vw);
    }

    &:nth-child(1):hover {
      opacity: 1;
      background-image: url("../assets/select3.jpg");
    }

    &:nth-child(2) {
      opacity: 0.95;
      border-radius: 30px;
      background: url("../assets/botmoney4.jpg") no-repeat center;
      background-size: contain;
      transform: rotateY(120deg) translateZ(35vw);
    }

    &:nth-child(2):hover {
      opacity: 1;
      background-image: url("../assets/botmoney4.jpg");
    }
 
    &:nth-child(3) {
      opacity: 0.95;
      border-radius: 30px;
      background: url("../assets/ax.jpg") no-repeat center;
      background-size: contain;
      transform: rotateY(240deg) translateZ(35vw);
    }

    &:nth-child(3):hover {
      opacity: 1;
      background-image: linear-gradient(
          to right bottom,
          rgb(23, 21, 22, 0),
          rgba(23, 21, 22, 0)
        ),
        url("../assets/ax.jpg");
    }
  }
}

@keyframes carousel {
  0% {
    transform: translateZ(-35vw) rotateY(0);
  }
  25% {
    transform: translateZ(-35vw) rotateY(-80deg);
  }
  50% {
    transform: translateZ(-35vw) rotateY(-160deg);
  }
  75% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }
  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}
@keyframes carousel2 {
  0% {
    transform: translateZ(-35vw) rotateY(0);
  }
  33% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }
  66% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }
  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

.grow {
  opacity: 0;

  -webkit-animation: grow-card 0.3s ease-out forwards;
  -o-animation: grow-card 0.3s ease-out forwards;
  animation: grow-card 0.3s ease-out forwards;
}

@keyframes grow-card {
  from {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.row {
  height: 150vh;
}
</style>
