<template>
  <v-app class="margin-0">
    <!-- Toolbar v-if="$route.path === '/'"/> -->
    <v-content class="padding-0 background z-index-99">
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
  import Toolbar from './components/general/Toolbar';
  import Footer from './components/general/Footer';

  export default {
    name: 'App',
    components: {
      Toolbar,
      Footer
    },

    data: () => ({

    }),

    methods: {
    },
  };
</script>

<style scoped>
  .background{
    background-color: #232323;
  }
</style>
